@{
    ViewData["Title"] = "About Me";
}

<img class="background-photo" src="~/images/background.jpg" alt="Rockets" />

<div class="title">
    <h2 >@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="about">

        <p>
            I was born and raised in Florida. After high school, I attended the University of Florida, and graduated with a Bachelor's Degree in Electrical Engineering.
            After college, I began my career in Jacksonville, FL as an Avionics Engineer, contracting for the Navy F-14 program. The company I was working for was not doing well however,
            and had to close their office about a year after I joined them. I decided to accept an offer from Honeywell International, located in Clearwater, FL. There I
            started as a Test Engineer working on a series of inertial guidance systems, employing laser gyro networks, used used to guide rockets such as the Atlas V and Titan IV.
            In the test discipline, I was promoted to Test Manager, and oversaw multiple product lines. I then moved to a Systems Engineering role, and worked on a series of programs
            including inertial systems, a Missile Site Security System development program for monitoring nuclear missile silos in sparsely populated areas, and a Mobile Launch System,
            capable of commanding a rocket launch in remote locations.
        </p>
    </div>

