
@{
    ViewData["Title"] = "Software Development";
}

<h2 class="title">@ViewData["Title"]</h2>

<div class="about">

    <p>
        I have spent the last year learning as much about coding, and web development as I could. I used multiple online learning tools, including the Odin Project, Udemy, and Udacity. In October 2017, 
        I was also accepted to the LaunchCode program. <br /><br /><br /><br />

        put a graph of skills here, and some links to github
    </p>
</div>